.c-container{
    justify-content:space-between;
    gap: 1rem;
    margin-left: 5rem;
  
}

.c-container > img{
    width: 10rem;
    margin: 5rem;
    
}
/*media query phones */
@media screen and (max-width: 600px) {
 
    .c-container >  img{
        display: none;
       
    
        
    }

    
  }