.c-container{
    justify-content:space-between;
    gap: 1rem;
  
}
.c-container > img{
    width: 15rem;
    padding: 3rem;
    margin-right: 5rem;
    
}
/*media query phones */
@media screen and (max-width: 600px) {
 
    .c-container >  img{
        display: block;
        align-items: center;
        width: 5rem;
        padding: .3rem;
        margin-left:6rem;
    
        
    }
  }