
.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
 
  
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


.primaryText {
  color: #1f3e72;
  font-weight: bold;
  font-size: 3.5rem;
  padding-left: 1rem;

}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 1.6rem;
  padding-left: 1rem;

}
.orangeText {
  color: orange;
  font-size: 3rem;
  font-weight: 600;
  padding-left: 1rem;
 
}

.r-container{
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 5rem;
  /* position: relative; */
}


.r-head{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.r-card{
  gap: 0.6rem;
  border-radius: 10px;
  max-width: 40rem;
  margin:auto;
  transition: all 300ms ease-in;


}
.r-card > img{
  width: 100%;
  /* max-width: 40rem; */
  border-radius: 1rem;
  height: 20rem;
}

.r-card > :nth-child(2){
  font-size: 1.2rem;
  font-weight: 600;
}

.r-card > :nth-child(3){
  font-size: 1.5rem;
}
.r-card > :nth-child(4){
  font-size: 1.7rem;
}
.r-card:hover{
  scale: 1.025;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(255,255,255,0) 0%,
    rgba(136,160,255,0.46)217.91%
  );
  box-shadow: 0px72px 49px -51px rgba(136, 160,255,0.21);
}
.swiper-horizontal{
  overflow: visible;
}
.r-buttons{
  /* position: absolute; */
  gap: 1rem;
  top: -1rem;
  color: red;
  right: 0;
  padding: 5rem;
  

}
.r-buttons button{
  font-size: 2rem;
  padding: 0.4rem 1rem;
  color: blue;
  border: none;
  border-radius: .5rem;
  background-color: white;
  cursor: pointer;
}
.r-buttons > :nth-child(1){
  background-color: #EEEEFF;
}
.r-buttons > :nth-child(2){
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.r-wrapper{
  background-color: rgba(248, 247, 247, 0.9);
  margin-top: 8rem;
  
  
}


/* media queries */
@media screen and (max-width: 600px) {
  
  .r-card{
  
    border-radius: 10px;
    /* width: 100%; */
    /* margin:2rem; */
    transition: all 300ms ease-in;
    margin: 0;
    /*   */
  
  }
  .r-head{
    /* margin-top: 5rem; */
  }
  .r-card > img{
    width: 90%;
    /* max-width: 40rem; */
    border-radius: 1rem;
    height: 20rem;
  }
  .primaryText {
    font-size: 2rem;
   
  }
  .orangeText {
    font-size: 1.8rem;
  }
  .r-wrapper{
    background-color: rgba(248, 247, 247, 0.9);
    margin-top: 8rem;
    width: 98%;
    
    
  }
    .flexColStart{
        width: 98%;
    }
 
 
}